<footer>
    <div class="contacto">
        <div class="contactenos">
            <h3>Contactenos:</h3>
            <p><a href="mailto:cuenta@deemail.com">Para escribirnos un correo da click acá</a></p>
            <p>Llamanos al +56904587496</p>
        </div>
        <div class="contactenos">
            <h3>Acerca de Tienda Gamer LATAM </h3>
            <p>Página realizada en el curso fullstack digital house &copy; 2022 por Sebastián, Bautista, Agustín, Tomas y Andrés</p>
        </div>
    </div>
    <div class="redes">
        <h4>Siguenos en:</h4>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
</footer>