<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <title>Carrito de compras</title>
        <link rel="icon" href="/img/imgGeneral/logo.png">
    </head>
<body>
    <%- include('./partials/header') %>
    <main class="registro">
<<<<<<< HEAD
        <form method="POST" action="/productos/agregarDb" enctype='multipart/form-data'>
=======
        <form method="POST" action="/productos/agregarDB" enctype='multipart/form-data'>
>>>>>>> e45f29121020a9e8b144f6eba117f33e7b12369f
            <label>Imagen</label>
            <input type="file" required placeholder="Suba la imagen del producto"
                name="pcfiles"
               id="files"
               multiple/><br/>
            <label>Descripcion</label>
            <input type="text" required placeholder="Ingrese el nombre del producto"
                 id="name"
                name="name"/><br/>
            <label>Precio</label>
            <input type="number" required placeholder="Ingrese el precio del producto"
                id="price"
                name="price"/><br/>
            <label>Cantidad</label>
            <input type="number" required placeholder="Ingrese el número de productos"
                id="productos"
                name="productos"/><br/>
                <label>Descripcion</label>
            <textarea required placeholder="la descripcion del producto"
                id="descripcion"
                name="descripcion"
                rows="6"></textarea><br/>
                <label>idCategoria</label>
            <input type="number" required placeholder="Ingrese la categoria del producto"
                id="idCategoria"
                name="idCategoria"/><br/>
            <button type="submit">Enviar</button>
            <button type="reset">Reestablecer  </button>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>