<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <title>Carrito de compras</title>
        <link rel="icon" href="/img/imgGeneral/logo.png">
    </head>
<body>
    <%- include('./partials/header') %>
    <main class="registro">
        <form method="POST" action="/productos/agregarDb" enctype='multipart/form-data'>
            <label>name</label>
            <input type="text" required placeholder="Ingrese el nombre del producto"
                 id="name"
                name="name"/><br/>
            <label>descripcion</label>
            <input type="text" required placeholder="Ingrese la descripcion del producto"
                id="description"
                name="description"/><br/>
            <label>Imagen</label>
            <input type="file" required placeholder="Ingrese el precio del producto"
                id="files"
                name="pcfiles"/><br/> 
            <label>Precio</label>
            <input type="number" required placeholder="Ingrese el precio del producto"
                id="price"
                name="price"/><br/>
            <label>idCategoria</label>
            <input type="number" required placeholder="Ingrese la categoria del producto"
                id="idCategoria"
                name="idCategoria"/><br/>
            <button type="submit">Enviar</button>
            <button type="reset">Reestablecer  </button>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>