<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
    <link rel="icon" href="/img/imgGeneral/logo.png">
</head>
<body>
    
    <%- include('./partials/header') %>
    
    <h1 class="titulocarrito">Carrito de compras</h1>
    
    <main class="carrito">
       
        <div class="titulo">
            <h3> Producto/s </h3>
            <h3 > Cantidad </h3>
            <h3 > Precio </h3>
        </div>
        
    <section>
       <article class="productos-carrito">
            <img src="/img/imgProductos/gabinete8.jpg" width="200px">
            <p class="producto-texto">Gabinete Gamer HB-037 ATX</p>
            <div class="button-cantidad"><button type="button">-</button>
            <input type="text" size="5">
            <button type="button">+</button></div>
           <div><strong>$10.630,00</strong></div>
        </article>
        <article class="productos-carrito">
            <img src="/img/imgProductos/gabinete3.jpg" width="200px"/>
            <p class="producto-texto">Gabinete Gamer Thermaltake S100 TG Snow Edition3</p>
            <div class="button-cantidad"><button type="button">-</button>   
            <input  type="text" size="5">  
            <button type="button">+</button></div>
            <strong>$10.860,20</strong>
        </article>
        
        

    </section>
    </main>
        <div>
        <button type="button">Seguir comprando</button>
        <button type="button">Comprar</button>
        </div>

        <%- include('./partials/footer') %>
</body>
</html>