<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
    <link rel="icon" href="/img/imgGeneral/logo.png">
</head>
<body>
    <header>
        <div class="box1">
        <a href="/home"><img src="/img/imgGeneral/logo.png" alt="logo" width="200px"></a>    
        <input type="text" placeholder="Buscador"> 
        <i href="#" class="fa-solid fa-cart-shopping"></i>
        <a href="/login"><h2>Iniciar sesión</h2></a>
        </div>
        
        <hr>
        
        <nav class="box2">
            <ul>
        <a href="/productos" class="nav-link">Productos</a>
        <a href="#" class="nav-link">PC Armadas</a>
        <a href="/registro" class="nav-link">Registro</a>
        <a href="#" class="nav-link">Ayuda</a>
            </ul>
        </nav>
    </header>
    
    <h1>Carrito de compras</h1>
    
    <main class="carrito">
       
        <div class="titulo">
        <h3 class="titulos1"> Cantidad </h3>
        <h3 class="titulos2"> Precio </h3>
        </div>

        <div class="producto1c">
        <img src="https://m.media-amazon.com/images/I/71sFaDtowqL._AC_SY450_.jpg"
            width="300px"/>
        <h4> Teclado Kumara k552 Red </h4>
        <button class="buttonCompra" type="button">-</button>     
        <button class="buttonCompra" type="button">+</button>
        <p> $7.900 </p>
        </div>  

    </main>
        <div class="buttonConfirma">
        <button type="button">Seguir comprando</button>
        <button type="button">Comprar</button>
        </div>

    <footer>
        <div class="contacto">
            <div class="contactenos">
                <h3>Contactenos:</h3>
                <p><a href="mailto:cuenta@deemail.com">Para escribirnos un correo da click acá</a></p>
                <p>Llamanos al +56904587496</p>
            </div>
            <div class="contactenos">
                <h3>Acerca de Tienda Gamer Latam</h3>
                <p>Página realizada en el curso fullstack digital house &copy; 2022 por Sebastián, Bautista, Agustín, Tomas y Andrés</p>
            </div>
        </div>
        <div class="redes">
            <h4>Siguenos en:</h4>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
     </footer>
</body>
</html>