<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Tienda Gamer LATAM</title>
</head>
<body>
   <header>
<img src="/img/logo.png" alt="logo">
<div class="buscar">
  <input type="text" placeholder="Buscador"> 

  <i class="fa-solid fa-cart-shopping"></i>

<p>Iniciar Sesion </p>
<ul>
    <li><a href="#">Productos</a></li>
    <li><a href="#">PC Armadas</a></li>
    <li><a href="#">Arma tu PC</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>
    <img src="/img/imgprincipal.webp" alt="imagen principal">

<h1>Productos destacados:</h1>

<i class="fa-solid fa-arrow-left-long"></i>

     <img src="aa" alt="aa">
     <p class= "descripcion del producto"> descripcion del producto
     <p class= "precio">$23.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>

     <img src="aa" alt="aa">
     <p class= "descripcion del producto"> descripcion del producto
     <p class= "precio">$23.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>

     <img src="aa" alt="aa">
     <p class= "descripcion del producto"> descripcion del producto
     <p class= "precio">$23.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>

     <img src="aa" alt="aa">
     <p class= "descripcion del producto"> descripcion del producto
     <p class= "precio">$23.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>

     <img src="aa" alt="aa">
     <p class= "descripcion del producto"> descripcion del producto
     <p class= "precio">$23.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>

     <i class="fa-solid fa-arrow-right-long"></i>

</div>
   </header>
   
   <hr>
    <footer>
        <div>
            <h3>Contactenos:</h3>
            <p><a href="mailto:cuenta@deemail.com">Para escribirnos un correo da click acá</a></p>
            <p>Llamanos al +56904587496</p>
        </div>
        <div>
            <h3>Acerca de Tienda Gamer Latam</h3>
            <p>Página realizada en el curso fullstack digital house &copy; 2022 por Sebastián, Bautista, Agustín, Tomas y Andrés</p>
        </div>
        <h4>Siguenos en:</h4>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </footer>
</body>
</html>