<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Tienda Gamer LATAM</title>
</head>

<body>
   <header>
<div class="box1">
<a href="logo"><img src="/img/imgGeneral/logo.png" alt="logo" width="200px"></a>    
<input type="text" placeholder="Buscador"> 
<i href="#" class="fa-solid fa-cart-shopping"></i>
<h2 href="#">Iniciar sesión</h2>
</div>

<hr>

<nav class="box2">
    <ul>
<a href="#" class="nav-link">Productos</a>
<a href="#" class="nav-link">PC Armadas</a>
<a href="#" class="nav-link">Arma tu PC</a>
<a href="#" class="nav-link">Ayuda</a>
    </ul>
</nav>
   </header>

   <main>
<img src="/img/imgHome/imgprincipal.webp" alt="imagen principal" width="800px">
<h1>Productos destacados:</h1>
<i class="fa-solid fa-arrow-left-long"></i>
<div>
     <img src="/img/imgHome/auris.jpg" alt="auriculares" width="200px">
     <p class= "descripcion del producto"> AURICULARES HYPERX CLOUD FLIGHT WIRELESS
     <p class= "precio">$14.000</p>
     <p class= "agregar al carrito">Agregar al carrito</p>
</div>
<div>
     <img src="/img/imgHome/gabinete.jpg" alt="gabinete" width="200px">
     <p class= "descripcion del producto"> GABINETE SATELLITE GAMER K871 FUENTE 750W 80 PLUS BRONZE 3 COOLER
     <p class= "precio">$6.000</p>
     <p class= "agregar al carrito">Agregar al carrito</p>
</div>
<div>
     <img src="/img/imgHome/madre.jpg" alt="madre" width="200px">
     <p class= "descripcion del producto"> MOTHER GIGABYTE B660M AORUS PRO DDR4 S1700
     <p class= "precio">$23.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>
</div>
<div>
     <img src="/img/imgHome/pcArmada.jpg" alt="pcArmada" width="200px">
     <p class= "descripcion del producto"> PC AMD RYZEN 5 5600G 8GB 240GB
     <p class= "precio">$153.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>
</div>
<div>
     <img src="/img/imgHome/refri.jpg" alt="refri" width="200px">
     <p class= "descripcion del producto">MICRO AMD RYZEN 5 PRO 4650G C/VIDEO C/COOLER
     <p class= "precio">$13.200</p>
     <p class= "agregar al carrito">Agregar al carrito</p>
</div>
 <i class="fa-solid fa-arrow-right-long"></i>
   </main>
   
   <footer>
    <div class="contacto">
        <div class="contactenos">
            <h3>Contactenos:</h3>
            <p><a href="mailto:cuenta@deemail.com">Para escribirnos un correo da click acá</a></p>
            <p>Llamanos al +56904587496</p>
        </div>
        <div class="contactenos">
            <h3>Acerca de Tienda Gamer Latam</h3>
            <p>Página realizada en el curso fullstack digital house &copy; 2022 por Sebastián, Bautista, Agustín, Tomas y Andrés</p>
        </div>
    </div>
    <div class="redes">
        <h4>Siguenos en:</h4>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
</footer>
</body>
</html>