<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Productos</title>
    <link rel="icon" href="/img/imgGeneral/logo.png">
</head>
<body class="bodylogin">

    <header>
        <div class="box1">
        <a href="/home" class="logo"><img src="/img/imgGeneral/logo.png" alt="logo" width="200px"></a>    
        <input type="text" placeholder="Buscador" maxlength="40"> 
        <i href="#" class="fa-solid fa-cart-shopping"></i>
        <a href="/login"><h2>INICIAR SESION</h2></a>
        </div>
        
        <hr>
        <i class="fa-solid fa-bars-staggered"></i>
        <nav class="box2">
            <ul>
        <a href="/productos" class="nav-link">PRODUCTOS</a>
        <a href="/registro" class="nav-link">REGISTRO</a>
        <a href="/ayuda" class="nav-link">AYUDA</a>
            </ul>
        </nav>
           </header>

    <div class="container-modal">
        <div class="content-modal">
            <form class="formulario">
                <h1 class="titulo-login">Iniciar sesion</h1>
                <div class="contenedor">
                    <div class="input-contenedor">
                        <i class="fa-regular fa-envelope icon"></i>
                        <input type="text" placeholder="Correo electronico" required>
                    </div>
                    <br>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-unlock icon"></i>
                        <input type="password" minlength="6" maxlength="9" placeholder="Contraseña" required>
                    </div>
                    <br>
                    <div class="recordar"> ¿Olvidó su contraseña? </div>
                    <br>
                    <input class="check" type="checkbox" id="checkid">
                    <label for="checkid"> Recuerdame </label>
                    <br>
                    <input type="submit" value="Iniciar Sesion" class="button">
                    <br>
                    <p class="p-login">
                        Al registrarte, aceptas nuestras condiciones de uso y Politica de privacidad.
                    </p>
                    <br>
                    <p class="p-login">¿No tienes una cuenta? <a class="link" href="/registro"> Registrate </a></p>
                    <div class="btn-cerrar">
                        <label for="btn-modal"> Cerrar </label>

                    </div>
                </div>
            </form>
        </div>
    </div>
<footer>
    <div class="contacto">
        <div class="contactenos">
            <h3>Contactenos:</h3>
            <p><a href="mailto:cuenta@deemail.com">Para escribirnos un correo da click acá</a></p>
            <p>Llamanos al +56904587496</p>
        </div>
        <div class="contactenos2">
            <h3>Acerca de Tienda Gamer Latam</h3>
            <p>Página realizada en el curso fullstack digital house &copy; 2022 por Sebastián, Bautista, Agustín, Tomas y Andrés</p>
        </div>
    </div>
    <div class="redes">
        <h4>Siguenos en:</h4>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
</footer>
    </div>
</body>
</html>