<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/imgGeneral/logo.png">
</head>
<body>
    <div class="formulario">
<h1> Inicio de sesion</h1>
<form method="post">
    <div class="username">
        <input type="text" required>
        <label> Nombre de usuario </label>
         </div>
         <div class="contraseña">
            <input type="password" required>
            <label> Contraseña </label>
             </div>
             <div class="recordar">
                Olvidó su contraseña?
             </div>
             <input type="submit" value="Iniciar">
             <div class="registarse">
                Quiero hacer el <a href="#">registro</a>
             </div>
</form>
    </div>
</body>
</html>