<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>

<body>
    <header>
        <div class="box1">
        <a href="logo"><img src="/img/logo.png" alt="logo" width="200px"></a>    
        <input type="text" placeholder="Buscador"> 
        <i href="#" class="fa-solid fa-cart-shopping"></i>
        <h2 href="#">Iniciar sesión</h2>
        </div>
        
        <hr>
        
        <nav class="box2">
            <ul>
        <a href="#" class="nav-link">Productos</a>
        <a href="#" class="nav-link">PC Armadas</a>
        <a href="#" class="nav-link">Arma tu PC</a>
        <a href="#" class="nav-link">Ayuda</a>
            </ul>
        </nav>
           </header>
    <section>
        <div> ordenar por</div>
    </section>
    <section>
        <h3>Subcatalogo1</h3>
        <ul>
            <li>otro producto1</li>
            <li>otro producto2</li>
            <li>otro producto3</li>
        </ul>
    </section>
    <section>
        <h3>Subcatalogo2</h3>
        <ul>
            <li>otro producto1</li>
            <li>otro producto2</li>
            <li>otro producto3</li>
        </ul>
    </section>
    <section>
        <h3>Subcatalogo3</h3>
        <ul>
            <li>otro producto1</li>
            <li>otro producto2</li>
            <li>otro producto3</li>
        </ul>
    </section>
    <main>
    </section>
    <br>
    <section>
        <img src="/img/gabinete1.jpg" alt="gabo1" width="200px"/>
        <div>
            <p>Onyx Caja PC Gamer ARGB Torre Mediana ATX/Micro-ATX -4 Ventiladores LED RGB Adressables</p>
            <strong>$11.200,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    <section>
        <img src="/img/gabinete2.jpg" alt="gabo2" width="200px">
        <div>
            <p>GABINETE GAMER HB-037 ATX</p>
            <strong>$10.300,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    <section>
        <img src="/img/gabinete3.jpg" alt="gabo3" width="200px">
        <div>
            <p>Gabinete Gamer Thermaltake S100 TG Snow Edition3</p>
            <strong>$10.860,20</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    <section>
        <img src="/img/gabinete4.jpg" alt="gabo4" width="200px">
        <div>
            <p>GABINETE GAMER MAGNUMTECH 235GM</p>
            <strong>$9.396,13</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    <section>
        <img src="/img/gabinete5.jpg" alt="gabo5" width="200px">
        <div>
            <p>GABINETE NOGA GAMER 8609</p>
            <strong>$19.400,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    <section>
        <img src="/img/gabinete6.jpg" alt="gabo6" width="200px">
        <div>
            <p>Gabinete Gamer Level Up Andromeda</p>
            <strong>$11.087,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    <section>
        <img src="/img/gabinete7.jpg" alt="gabo7" width="200px">
        <div>
            <p>GABINETE GAMER KOLINK VOID WHITE ARGB ATX VIDRIO TEMPLADO</p>
            <strong>$9.836,50</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    <section>
        
        <img src="/img/gabinete8.jpg" alt="gabo8" width="200px">
        <div>
            <p>GABINETE GAMER HB-037 ATX</p>
            <strong>$10.630,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
    </section>
    <br>
    </main>  

        <footer>
        <div>
            <h3>Contactenos:</h3>
            <p><a href="mailto:cuenta@deemail.com">Para escribirnos un correo da click acá</a></p>
            <p>Llamanos al +56904587496</p>
        </div>
        <div>
            <h3>Acerca de Tienda Gamer Latam</h3>
            <p>Página realizada en el curso fullstack digital house &copy; 2022 por Sebastián, Bautista, Agustín, Tomas y Andrés</p>
        </div>
        <h4>Siguenos en:</h4>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
   </footer>
</body>
</html>