<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Registro</title>
    <link rel="icon" href="/img/imgGeneral/logo.png">
</head>
<body>

    <%- include('./partials/header') %>

    <main class="registro">
            <form method="POST" action="/registro/agregar" enctype='multipart/form-data' id="formMain">
            <label for="">Adjunte su imagen de perfil</label>
            <input type="file" required placeholder="Adjunte su imagen" id="files"
            name="pcfiles" multiple/><br/>
            <input type="pattern" minlength ="5" maxlength ="20" required placeholder="Ingrese su nombre completo" pattern="[A-Za-z]+" id="nombre"
            name="nombre"/><br/>
            <input type="email" required placeholder="Ingrese su email" id="email"
            name="email"/><br/>
            <input type="password" required placeholder="Ingrese su contreña" id="password"
            name="password"/><br/>
            <input type="password" required placeholder="Confirme su contraseña" id="password2"
            name="password2"/><br/>
            <p id="err" class="text-danger"> </p>
            <select name="categoria"  id="categoria">
                <option value="1">administrador </option>
                <option value="2">usuario</option>
            </select> <br>
            <button type="submit">Enviar</button>
            <button type="reset">Reestablecer  </button>
        </form>
        <div class="imagen">
            <img src="https://elchapuzasinformatico.com/wp-content/uploads/2019/01/AMD-Ryzen-Threadripper-2990WX.jpg"
            width="300px"/>
        </div>
    </main>

    <%- include('./partials/footer') %>
<script> formMain.addEventListener("submit", (e) => { // Escuchar cuando se envíe el formulario
    if (password.value !== password2.value) { // Comprobar si los valores de los inputs son iguales, si no lo son continuar
      e.preventDefault(); // Prevenir que la página se recargue
      err.innerHTML = "Las contraseñas no coinciden"; // Notificar al usuario
      setTimeout(() => {
        err.innerHTML = " ";
      }, 120000); // Esperar 1.2 segundos y quitar el mensaje
    }
  });</script>
</body>
</html>

