/* CSS DEL HEADER */
.box1{
display: flex;
height: 15vh;
justify-content: center;

}

hr{
margin-top: 0.1% ;
margin-bottom:1.4% ;
margin-left: 2%;
margin-right: 2%;
}
.box1 a{
    text-decoration: none;
}
.box1 a h2{
text-decoration: none;
color: black;
margin: 1%;
background-color: #B5B5B5;
font-family: 'Roboto';

}

.box1 i{
margin: 3%;
}

.box1 a{
margin: 0.8%
}

.box1 input{
width: 40vw;
height: 30%;
margin: 2%;
}

.box2{
display: flex;
height: 5.7vh;
justify-content: space-evenly;
background-color: #98ff96;
margin-bottom: 1.6%;
}

.box2 ul a{
margin: 100px;
text-decoration: none;
color: black;
}

.box2 ul a:hover{
 font-family: 'Times New Roman', Times, serif;
 font-size: larger;
 color: blue
}
/* CSS DEL HEADER */
@media (max-width: 700px){
    .box2{
        display: none;
        transition: 1s;
    }
    header:hover .box2{
        display: block;
        justify-content: wrap;
        background-color: #98ff96;
        margin-bottom: 1.6%;
        transition: 1s;
    }
    .box2 ul a:hover{
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        color: blue
    }
}
/* CSS DEL FOOTER */
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #98ff96;
    border: 1px solid black;
}
footer .contacto{
    width: 55%;
    font-family: 'Roboto';
    margin: 2%;
    display: flex;
    flex-direction: row;
}
footer .contacto .contactenos{
    width: 45%;
    height: 95%;
    border: 1px solid black;
    margin: 1%;
}
footer .contacto .contactenos2{
    width: 45%;
    height: 95%;
    border: 1px solid black;
    margin: 1%;
}
footer .redes{
    margin: 2%;
    width: 45%;
    justify-content: space-between;
    border: 1px solid black;
}
footer .redes h4{
    margin-left: 1%;
}
footer .redes i{
    margin-left: 5%;
}
/* CSS DEL FOOTER */


/* CSS DEL HOME */
.productos{
    display: flex;
    justify-content: center;
}

.imagenPrincipal{
    width: 100%;
    height: 70vh;
    margin: 0 auto;
}

main{   
    justify-content: center;
}

.producto1{
    border: 1px solid rgb(204, 198, 198);
    width: 17%;
    margin: 1%;
    
}

.producto1 img{
    margin-left: 20%;
    margin-top: 4%;
    border: 1px solid rgb(204, 198, 198) 
}  

.descripcionDelProducto{
    margin: 3%;
}

.precio{
    margin: 3%;
}

.agregarAlCarrito{
    margin: 3%;
    align-self: flex-end;
}

.agregarAlCarrito:hover{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: blue
} 
/* CSS DEL HOME */


/* CSS DEL LOGIN */
/* aca pongan su codigo */
/* CSS DEL LOGIN */


/* CSS DEL CARRITO */
/* aca pongan su codigo */
/* CSS DEL CARRITO */


/* CSS DEL REGISTRO */
/* aca pongan su codigo */
/* CSS DEL REGISTRO */
.registro{
    display: flex;
    justify-content: space-evenly;
}
.registro form{
    
    border: 3px solid #98ff96;
    border-radius: 15px;
    margin-bottom: 2%;
    margin-right: 5%;
    width: 40%;
    
}
button {
    background-color: #003400; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.registro form input{
    width: 98%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
}
.registro form textarea{
    width: 98%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 6px 0; 
}
.registro form label{
    font-family: 'Roboto';
}
.registro .imagen{
    width: 30%;
    display: flex;
    border: 3px solid #98ff96;
    border-radius: 25px;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
}
.registro .imagen img{
    width: 85%;
}

@media (max-width: 700px) {
    .registro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .contacto{
        width: 100%;
    }
    footer .contacto .contactenos{
        width: 100%;
        margin: 1%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer .contacto .contactenos2{
        display: none;
    }
    footer.redes{
        width: 100%;
    }
    .registro .imagen{
        display: none;
    }
    .registro .imagen img{
        display: none;
    }
}
/* CSS DE PRODUCTOS */
/* aca pongan su codigo */
/* CSS DE PRODUCTOS */



/* colores: 
#003400
#006414
#009929
#5ccb5f
#98ff96 */